.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    flex: 1 1 250px;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.discount {
    color: var(--danger);
    font-weight: bold;
}

img.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}